# Pandas로 금융데이터 분석하기 
## Pandas 기초

In [3]:
# 데이터 분석을 위한 pandas 라이브러리
import pandas as pd

In [4]:
# 금융데이터를 불러오는 finance data reader 라이브러리
# .__version__으로 라이브러리 version 확인 가능
import FinanceDataReader as fdr

fdr.__version__

'0.9.20'

In [20]:
# 거래소 상장 종목 전체를 불러온다
    # KRX : KRX 종목 전체
    # KOSPI : KOSPI 종목
    # KOSDAQ : KOSDAQ 종목
    # KONEX : KONEX 종목
    # NASDAQ : 나스닥 종목
    # NYSE : 뉴욕증권거래소 종목
    # SP500 : S&P500 종목

df_krx = fdr.StockListing('KRX')
df_krx.head(5)

,Symbol,Market,Name,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region
0,060310,KOSDAQ,3S,특수 목적용 기계 제조업,반도체 웨이퍼 캐리어,2002-04-23,03월,"박종익, 김세완 (각자 대표이사)",http://www.3sref.com,서울특별시
1,095570,KOSPI,AJ네트웍스,산업용 기계 및 장비 임대업,"렌탈(파렛트, OA장비, 건설장비)",2015-08-21,12월,이현우,http://www.ajnet.co.kr,서울특별시
2,006840,KOSPI,AK홀딩스,기타 금융업,지주사업,1999-08-11,12월,"채형석, 이석주(각자 대표이사)",http://www.aekyunggroup.co.kr,서울특별시
3,054620,KOSDAQ,APS홀딩스,기타 금융업,인터넷 트래픽 솔루션,2001-12-04,12월,정기로,http://www.apsholdings.co.kr,경기도
4,265520,KOSDAQ,AP시스템,특수 목적용 기계 제조업,디스플레이 제조 장비,2017-04-07,12월,김영주,http://www.apsystems.co.kr,경기도

In [8]:
# df의 행, 열 크기
df_krx.shape

(7303, 10)

In [22]:
# 컬럼 값
df_krx.columns

Index(['Symbol', 'Market', 'Name', 'Sector', 'Industry', 'ListingDate',
       'SettleMonth', 'Representative', 'HomePage', 'Region'],
      dtype='object')

In [23]:
# 모든 행값
df_krx.values

array([['060310', 'KOSDAQ', '3S', ..., '박종익, 김세완 (각자 대표이사)',
        'http://www.3sref.com', '서울특별시'],
       ['095570', 'KOSPI', 'AJ네트웍스', ..., '이현우',
        'http://www.ajnet.co.kr', '서울특별시'],
       ['006840', 'KOSPI', 'AK홀딩스', ..., '채형석, 이석주(각자 대표이사)',
        'http://www.aekyunggroup.co.kr', '서울특별시'],
       ...,
       ['003280', 'KOSPI', '흥아해운', ..., '이환구', 'http://www.heung-a.com',
        '서울특별시'],
       ['037440', 'KOSDAQ', '희림', ..., '정영균, 이목운, 허철호, 염두성 (각자대표)',
        'http://www.heerim.com', '서울특별시'],
       ['238490', 'KOSDAQ', '힘스', ..., '김주환', 'http://www.hims.co.kr',
        '인천광역시']], dtype=object)

In [10]:
# df의 요약 정보
df_krx.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7303 entries, 0 to 7302
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Symbol          7303 non-null   object
 1   Market          7303 non-null   object
 2   Name            7303 non-null   object
 3   Sector          2422 non-null   object
 4   Industry        2403 non-null   object
 5   ListingDate     2422 non-null   datetime64[ns]
 6   SettleMonth     2422 non-null   object
 7   Representative  2422 non-null   object
 8   HomePage        2246 non-null   object
 9   Region          2422 non-null   object
dtypes: datetime64[ns](1), object(9)
memory usage: 627.6+ KB

In [17]:
# df의 기술 통계
df_krx.describe()

<ipython-input-17-e9a2de946247>:2: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  df_krx.describe()

,Symbol,Market,Name,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region
count,7303,7303,7303,2422,2403,2422,2422,2422,2246,2422
unique,7303,3,7303,158,2251,1785,9,2308,2225,22
top,251590,KOSPI,코오롱인더,특수 목적용 기계 제조업,기업인수합병,1976-06-30 00:00:00,12월,-,http://www.cheryong.co.kr,서울특별시
freq,1,5658,1,143,37,8,2361,5,2,977
first,NaN,NaN,NaN,NaN,NaN,1956-03-03 00:00:00,NaN,NaN,NaN,NaN
last,NaN,NaN,NaN,NaN,NaN,2021-02-24 00:00:00,NaN,NaN,NaN,NaN

In [18]:
# head 와 tail
pd.concat([df_krx.head(3), df_krx.tail(3)])

,Symbol,Market,Name,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region
0,060310,KOSDAQ,3S,특수 목적용 기계 제조업,반도체 웨이퍼 캐리어,2002-04-23,03월,"박종익, 김세완 (각자 대표이사)",http://www.3sref.com,서울특별시
1,095570,KOSPI,AJ네트웍스,산업용 기계 및 장비 임대업,"렌탈(파렛트, OA장비, 건설장비)",2015-08-21,12월,이현우,http://www.ajnet.co.kr,서울특별시
2,006840,KOSPI,AK홀딩스,기타 금융업,지주사업,1999-08-11,12월,"채형석, 이석주(각자 대표이사)",http://www.aekyunggroup.co.kr,서울특별시
7300,003280,KOSPI,흥아해운,해상 운송업,외항화물운송업(케미컬탱커),1976-06-29,12월,이환구,http://www.heung-a.com,서울특별시
7301,037440,KOSDAQ,희림,"건축기술, 엔지니어링 및 관련 기술 서비스업",설계 및 감리용역,2000-02-03,12월,"정영균, 이목운, 허철호, 염두성 (각자대표)",http://www.heerim.com,서울특별시
7302,238490,KOSDAQ,힘스,특수 목적용 기계 제조업,"OLED Mask 인장기, OLED Mask 검사기 등",2017-07-20,12월,김주환,http://www.hims.co.kr,인천광역시

In [24]:
# unique한 값의 개수
df_krx.nunique()

Symbol            7306
Market               3
Name              7306
Sector             158
Industry          2252
ListingDate       1786
SettleMonth          9
Representative    2309
HomePage          2226
Region              22
dtype: int64

In [26]:
# 주피터에 df가 저장되는게 아니고 휘발성이라 매번 불러오기 번거로우니 csv로 저장
# index=False로 해야 인덱스 열을 빼고 저장한다.
# 저장한 csv 파일은 이 ipy 파일과 같은 경로에 저장된다.
df_krx.to_csv('krx.csv', index=False)

In [28]:
# 저장된 csv를 불러오자
df = pd.read_csv('krx.csv')
df

,Symbol,Market,Name,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region
0,060310,KOSDAQ,3S,특수 목적용 기계 제조업,반도체 웨이퍼 캐리어,2002-04-23,03월,"박종익, 김세완 (각자 대표이사)",http://www.3sref.com,서울특별시
1,095570,KOSPI,AJ네트웍스,산업용 기계 및 장비 임대업,"렌탈(파렛트, OA장비, 건설장비)",2015-08-21,12월,이현우,http://www.ajnet.co.kr,서울특별시
2,006840,KOSPI,AK홀딩스,기타 금융업,지주사업,1999-08-11,12월,"채형석, 이석주(각자 대표이사)",http://www.aekyunggroup.co.kr,서울특별시
3,054620,KOSDAQ,APS홀딩스,기타 금융업,인터넷 트래픽 솔루션,2001-12-04,12월,정기로,http://www.apsholdings.co.kr,경기도
4,265520,KOSDAQ,AP시스템,특수 목적용 기계 제조업,디스플레이 제조 장비,2017-04-07,12월,김영주,http://www.apsystems.co.kr,경기도
...,...,...,...,...,...,...,...,...,...,...
7301,000547,KOSPI,흥국화재2우B,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7302,000545,KOSPI,흥국화재우,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7303,003280,KOSPI,흥아해운,해상 운송업,외항화물운송업(케미컬탱커),1976-06-29,12월,이환구,http://www.heung-a.com,서울특별시
7304,037440,KOSDAQ,희림,"건축기술, 엔지니어링 및 관련 기술 서비스업",설계 및 감리용역,2000-02-03,12월,"정영균, 이목운, 허철호, 염두성 (각자대표)",http://www.heerim.com,서울특별시
7305,238490,KOSDAQ,힘스,특수 목적용 기계 제조업,"OLED Mask 인장기, OLED Mask 검사기 등",2017-07-20,12월,김주환,http://www.hims.co.kr,인천광역시

# 데이터 Indexing

## Series

* One-dimensional ndarray with axis labels (including time series). 

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.html

In [29]:
df["Name"]

0            3S
1        AJ네트웍스
2         AK홀딩스
3        APS홀딩스
4         AP시스템
         ...
7301    흥국화재2우B
7302      흥국화재우
7303       흥아해운
7304         희림
7305         힘스
Name: Name, Length: 7306, dtype: object

In [41]:
# 행 값으로 인덱싱하면 Series type
type(df["Name"])

pandas.core.series.Series

In [33]:
# loc으로 한 행만 가져와도 Series
type(df.loc[0])

pandas.core.series.Series

## DataFrame

* Two-dimensional, size-mutable, potentially heterogeneous tabular data.

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html

In [42]:
type(df)

pandas.core.frame.DataFrame

In [43]:
# 리스트를 전달하면 다수의 컬럼을 불러올 수 있음
df[["Symbol", "Name"]].sample(5)

      Symbol             Name
5222  57FD79  한국FD79KOSPI200풋
1884  55G408     NHG408삼성SDI풋
6309  57G213  한국G213KOSPI200콜
4353  244460             올리패스
1352  112190             KC산업

In [52]:
# 리스트를 전달하면 타입은 df
df[["Name"]].sample(5)

                 Name
2418             대양금속
1976   SMART KIS단기통안채
78                DL우
5376  한국FL69KOSPI200콜
7197            해성디에스

### loc로 sub set 가져오기

In [54]:
# df.loc[raw, column]
df.loc[0,"Name"]

'3S'

In [53]:
# column index로 접근해도 같은 결과가 나오지만
# df["Name"] 의 결과로 Series를 리턴한 후 접근하기 때문에 불필요한 연산을 동반한다.
df["Name"][0]

'3S'

In [62]:
# 역시 리스트로 전달하면 여러 행, 열을 가져올 수 있다.
df.loc[[0,1,2], ["Name", "Symbol"]]

     Name  Symbol
0      3S  060310
1  AJ네트웍스  095570
2   AK홀딩스  006840

In [66]:
# slice로 전달할 수도 있다.
df.loc[0:4, "Symbol":"Industry"]

   Symbol  Market    Name           Sector             Industry
0  060310  KOSDAQ      3S    특수 목적용 기계 제조업          반도체 웨이퍼 캐리어
1  095570   KOSPI  AJ네트웍스  산업용 기계 및 장비 임대업  렌탈(파렛트, OA장비, 건설장비)
2  006840   KOSPI   AK홀딩스           기타 금융업                 지주사업
3  054620  KOSDAQ  APS홀딩스           기타 금융업          인터넷 트래픽 솔루션
4  265520  KOSDAQ   AP시스템    특수 목적용 기계 제조업          디스플레이 제조 장비

### Boolean Indexing
* 결과를 T / F로 리턴
* 특정 조건을 만족하는 sub set 가져오기

In [104]:
# df[조건식] -> 조건에 맞는 subset
df[df["Market"] == "KOSPI"].sample(5)

,Symbol,Market,Name,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region
5886,57FW58,KOSPI,한국FW58KOSPI200풋,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1862,55G386,KOSPI,NHG386LG화학콜,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7236,005380,KOSPI,현대차,자동차용 엔진 및 자동차 제조업,"자동차(승용차,버스,트럭,특장차),자동차부품,자동차전착도료 제조,차량정비사업",1974-06-28,12월,"정의선, 하언태(각자 대표이사)",http://www.hyundai.com,서울특별시
6394,57G298,KOSPI,한국G298KOSPI200콜,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1624,55FC63,KOSPI,NHFC63KOSPI200콜,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [122]:
# df.loc[조건식, 열]
# 반도체 관련 산업을 하는 기업들의 심볼:산업 가져오기
df.loc[df["Industry"].fillna("").str.contains("반도체") & (df["Market"] == 'KOSPI'), "Symbol":"Industry"]

,Symbol,Market,Name,Sector,Industry
73,000990,KOSPI,DB하이텍,반도체 제조업,반도체 제조
1355,092220,KOSPI,KEC,반도체 제조업,반도체 제조
1559,025000,KOSPI,KPX케미칼,기초 화학물질 제조업,"PPG,PU RESIN,우레탄수지,대향막박리재,반도체 CM PAD,Polyether..."
1972,000660,KOSPI,SK하이닉스,반도체 제조업,"반도체,컴퓨터,통신기기 제조,도매"
2366,008060,KOSPI,대덕,기타 금융업,"산업용 인쇄회로기판,다층 인쇄회로기판,빌드업기판,반도체패키지기판,메모리모듈기판 제조"
2572,003160,KOSPI,디아이,"측정, 시험, 항해, 제어 및 기타 정밀기기 제조업; 광학기기 제외","반도체검사장비,전자부품,레저용품,석제품 제조,판매,오파,부동산임대업"
3447,025560,KOSPI,미래산업,"측정, 시험, 항해, 제어 및 기타 정밀기기 제조업; 광학기기 제외","PCB마운터,반도체검사장비(반도체테스트핸들러),LCD 검사장비,리드프레임매가진 제조..."
3654,005930,KOSPI,삼성전자,통신 및 방송 장비 제조업,"IMT2000 서비스용 동기식 기지국,교환국장비,데이터단말기,동영상휴대폰,핵심칩,반..."
4399,010400,KOSPI,우진아이엔에스,건물설비 설치 공사업,반도체/디스플레이 코팅덕트
4453,077500,KOSPI,유니퀘스트,기계장비 및 관련 물품 도매업,"반도체직접회로 도매,무역,제조"
4656,033240,KOSPI,자화전자,전자부품 제조업,"Bonded magenet,플라스틱자성제품,티탄산 바륨계 반도체소자,휴대전화용 Vi..."
4819,281820,KOSPI,케이씨텍,"측정, 시험, 항해, 제어 및 기타 정밀기기 제조업; 광학기기 제외","반도체, 디스플레이 제조 장비"
7126,042700,KOSPI,한미반도체,특수 목적용 기계 제조업,"반도체 후공정장비,반도체금형 제조/부동산 매매,임대"
7197,195870,KOSPI,해성디에스,전자부품 제조업,반도체 패키지용 Substrate

### 파생변수
* 변수들을 연산해서 새로운 변수를 만든다

In [131]:
# ListingDate 요소의 타입은 object
df[["ListingDate"]].dtypes

ListingDate    object
dtype: object

In [138]:
df["ListingYear"] = pd.to_datetime(df["ListingDate"].fillna('1900')).dt.year
df[["Symbol", "Name", "ListingYear"]]

      Symbol     Name  ListingYear
0     060310       3S         2002
1     095570   AJ네트웍스         2015
2     006840    AK홀딩스         1999
3     054620   APS홀딩스         2001
4     265520    AP시스템         2017
...      ...      ...          ...
7301  000547  흥국화재2우B         1900
7302  000545    흥국화재우         1900
7303  003280     흥아해운         1976
7304  037440       희림         2000
7305  238490       힘스         2017

[7306 rows x 3 columns]